<h1>Change Machine</h1>

<h3>Load Machine:</h3>

<form method='post'>
  <label for='pennies'>Pennies:</label>
  <input id='pennies' type='text' name='pennies' value='0'>
  <br><br>

  <label for='nickels'>Nickels:</label>
  <input id='nickels' type='text' name='nickels' value='0'>
  <br><br>

  <label for='dimes'>Dimes:</label>
  <input id='dimes' type='text' name='dimes' value='0'>
  <br><br>

  <label for='quarters'>Quarters:</label>
  <input id='quarters' type='text' name='quarters' value='0'>
  <br><br>

  <br>
  <input type='submit' value='Load Coins'>
</form>
